name: feature_c
description: Feature C package (depends on feature_a)
version: 1.0.0
publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  feature_a:
    path: ../feature_a

dev_dependencies:
  flutter_test:
    sdk: flutter
